#month-container 
    display: grid
    grid-template-columns: repeat(7, 1fr)
    font-size: 2rem
    font-family: 'Libre Baskerville', serif
    margin-right: 10px
    margin-left: 10px 
    height: 100%
    margin-bottom: 7vh
    


.hidden-button
    height: 12vh
    width: 12vw
    opacity: 0

.day-button
    height: 12vh
    width: 12vw

.days
    height: 6vh
    width: 12vw
    font-size: 2.25vw