@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap')
    
    
.day-button
    width: 203.5px
    height: 203.5px
    font-size: 2rem
    background-color: white
    margin: 5px
    font-family: 'Libre Baskerville', serif

.hidden-button
     border: none
     background-color: white

.hidden
    display: none

.day-container
    border: 1px solid black
    height: 200px
    white-space: pre-line

.event-info
    font-size: 16px
    display: flex
    flex-direction: row
    height: 50px
    justify-content: center
    align-items: center
.delete-button
    border: 1px solid black
    color: white
    height: 10px
    margin: 10px
    color: black
    display: flex
    justify-content: center
    align-items: center
 
        