

.container {
   width: 100vw;
   height: 88vh;
   overflow: hidden;
   justify-content: center;
   align-items: center;
   background: linear-gradient(0.33turn, #235f79, #a8a8a8, #da8327, #c90000);
}

.input-form{
    height: 20vh;
    width: 40vw;
    background-color: rgba(255,255,255,0.13);;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid black;
    box-shadow: 0 0 25px rgb(41, 41, 96);
    padding: 50px 35px;
    display: grid;
    justify-content: center;
    align-items: center;
}

/* button:hover{
    color: #000000;
    background:rgb(206, 206, 206);
  } */


